{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":526.140625,"scrollleft":0,"selection":{"start":{"row":66,"column":20},"end":{"row":66,"column":20},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":40,"state":"start","mode":"ace/mode/text"}},"timestamp":1565717286624,"hash":"01dfc563e7b34219f9a6dd21f97fd25d5c268657"}