body{
    font-size: 13px !important;
    font-family: cursive !important;
}

ul{
    font-size: 13px !important;
}


.btn_small{
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header{
    margin-top: 5px;
}

.custommargin {
    margin: 10px 25px 10px 25px;
}

h2{
   display: flex;
    justify-content: center; 
    
}

.imageposition{
    justify-content: center;
    height: 40%;
}


.imagepositionviewrecipe{
    display: flex; 
    justify-content: center;
}

/* Navbar settings */

/*.navbarfixed{*/
/*    position: inherit;*/
/*    z-index: 500;*/
/*}*/

/*.welcomemessage{*/
/*    position: fixed;*/
/*    z-index: 500;*/
/*    top: 64px;*/
/*}*/


.desktopnavfont{
    font-size: 16px;
}

/* Override materialize modal styles */
.modal {
     background-color: transparent; 
     max-height: none; 
     width: auto; 
}

.displayonmobile{
        display: -webkit-box;
}

.marginrightleft5px{
    margin-left: 5px;
    margin-right: 5px;
}
 .marginrightleft10px{
     margin-left: 10px;
    margin-right: 10px;
 }

.viewrecipebutton{
    color: white;
}

.width100paddingbottom{
    width: 100%;
    padding-bottom: 24px !important;
}

.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 0px; 
    line-height: 10px;
}


.deletebutton{
    margin: 0px;
    border: 0px;
    color: white;
    background-color: #26a69a;
    padding: 0px;
}


.buttonpadding{
    padding: 3px  !important;
}

@media (max-width: 992px){
d-lg-block {
    display: block!important;
}
}

@media (max-width: 992px){
.d-none {
    display: none!important;
}
}

.col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.center-text{
    text-align: center!important;
}

@media (min-width: 992px){
.manage-recipe-buttons{
    display: flex;
  
    }
}

@media (max-width: 992px){
.manage-recipe-buttons{
    display: flex;
    margin-left: 25% !important;
    margin-right: 25% !important;
  
    }
}
.equalizecontentboxheights{
    height: auto;
}

.recipeinfo
{
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    margin-left: 0px;
    margin-right: 0px;
        border-color: gainsboro;
}

.viewrecipebuttonmargin{
    margin-left: 15px;
    margin-right: 15px;
}

.fa-heart:before {
    color: red;
}

/* Homepage background */


.pizza-wallpaper {
  /* The image used */
  background-image: url("/static/img/recipes/pizza-wallpaper.jpeg");

  /* Full height */
  height: 80%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Homepage background text size on large screens */
@media (min-width: 768px){
.homepageheading {
    font-size: 40px;
    }
}

@media (min-width: 768px){
.homepageparagraph {
    font-size: 30px;
    }
}


/* Footer */
.footer {
    bottom: 0;
    height: 100px;
    font-size: x-large;
    overflow: hidden;
    z-index: 110;
    position: inherit;
    background: #141414;
    padding: 12px 7px 10px;
    color: white;
    width: 100%;
    border: none;
    margin: 0px;
    background-color: #ee6e73;
    text-align: right;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-icon-color{
 color: white;   
}
