/*------ Font Size and styles for all pages ------*/
body{
    font-size: 13px !important;
    font-family: cursive !important;
}

ul{
    font-size: 13px !important;
}

h2{
   display: flex;
    justify-content: center; 
    
}

/*------ Custom Button Parameters ------*/

.btn{
        padding: 6px 12px !important;
    padding-top: 6px !important;
    padding-right: 12px !important;
    padding-bottom: 6px !important;
    padding-left: 12px !important;
}



.btn_small{
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

/*------ Custom Margins ------*/

.custommargin {
    margin: 10px 25px 10px 25px;
}


/*------ View Recipe Image Position ------*/

.imagepositionviewrecipe{
    display: flex; 
    justify-content: center;
}


/*------ Navbar Link fonts ------*/

.desktopnavfont{
    font-size: 16px;
}

/*----- Override materialize modal styles -----*/
.modal {
     background-color: transparent; 
     max-height: none; 
     width: auto; 
}

/*------ Custom Right amd left Margins ------*/

.marginrightleft5px{
    margin-left: 5px;
    margin-right: 5px;
}
 .marginrightleft10px{
     margin-left: 10px;
    margin-right: 10px;
 }

/*------ RECIPESEARCH page  Custom View Recipe Buttom ------*/

.viewrecipebutton{
    color: white;
}


.viewrecipebuttonmargin{
    margin-left: 15px;
    margin-right: 15px;
}


/*------ RECIPESEARCH page  remove dropdown menu second arrow  ------*/

.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 0px; 
    line-height: 10px;
}



/*------ VIEWRECIPE page custom edit and recipe button  ------*/

.width100paddingbottom{
    width: 100%;
    padding-bottom: 24px !important;
}

/*------ MYRECIPES page keeps myrecipe information table inline on mobile devices  ------*/

@media (max-width: 992px){
.d-none {
    display: none!important;
}
}

/*------ MYRECIPES page center text within my recipe table  ------*/

.center-text{
    text-align: center!important;
}

/*------ MYRECIPES page center Buttoms within my recipe table  ------*/
@media (min-width: 992px){
.manage-recipe-buttons{
    display: flex;
  
    }
}

@media (max-width: 992px){
.manage-recipe-buttons{
    display: flex;
    margin-left: 25% !important;
    margin-right: 25% !important;
  
    }
}

/*------ Customized colour of rated heart symbol  ------*/

.fa-heart:before {
    color: red;
}

/*----- Homepage (index) background -----*/


.pizza-wallpaper {
  /*----- The image used -----*/
  background-image: url("/static/img/recipes/pizza-wallpaper.jpeg");

  /*----- Image height -----*/
  min-height: 500px; 
    height: 80%; 
  /*----- Center and scale the image nicely -----*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*----- Homepage (index) background text size on large screens -----*/
@media (min-width: 768px){
.homepageheading {
    font-size: 40px;
    }
}

@media (min-width: 768px){
.homepageparagraph {
    font-size: 30px;
    }
}


/*----- Footer -----*/
.footer {
    bottom: 0;
    height: 100px;
    font-size: x-large;
    overflow: hidden;
    z-index: 110;
    position: inherit;
    background: #141414;
    padding: 12px 7px 10px;
    color: white;
    width: 100%;
    border: none;
    margin: 0px;
    background-color: #ee6e73;
    text-align: right;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-icon-color{
 color: white;   
}


