{% extends 'base.html' %} {% block content %}
<h2>Website Statistics</h2>
<!-- Notifying User the the page will not display well on mobile browsers -->
<p style="text-align:center">This page is not designed for mobile browsers.</p>
<section>
  <div class="container-fluid">
    <div class="row">
      <!--  Table displaying number of recipes per Category -->
      <div class="col-xs-6 ">
        <h3>Recipes Per Category</h3>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Category</th>
                <th scope="col" class="text-center">Number of Recipes</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in cat_data.items() %}
              <tr>
                <td>{{key}}</td>
                <td class="text-center">{{value}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!--  Table displaying number of recipes per Cuisine -->
      <div class="col-xs-6 ">
        <h3>Recipes per Cuisine</h3>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Cuisine</th>
                <th scope="col" class="text-center">Number of Recipes</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in cuis_data.items() %}
              <tr>
                <td>{{key}}</td>
                <td class="text-center">{{value}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!--  Table displaying number of recipes per Allergen -->
      <div class="col-xs-6 ">
        <h3>Recipes Per Allergen</h3>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Allergen</th>
                <th scope="col" class="text-center">Number of Recipes</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in aller_data.items() %}
              <tr>
                <td>{{key}}</td>
                <td class="text-center">{{value}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Categories piechart for recipes -->
        <div class="col-xs-6 ">
          <h3>Category Piechart for Recipes</h3>
          <img src="static/img/graphs/piechart-category.svg">
        </div>
      <!-- Cuisine piechart for recipes -->
        <div class="col-xs-6 ">
          <h3>Cuisine Piechart for Recipes</h3>
          <img src="static/img/graphs/piechart-cuisine.svg">
        </div>
    </div>
    <div class="row">
      <!-- Barchart displaying the Top 10 Categories -->
      <div class="col-xs-6 ">
        <h3>Top 10 Categores</h3>
        <img src="static/img/graphs/barchart-category.svg">
      </div>
      <!-- Barchart displaying the Top 10 Categories -->
      <div class="col-xs-6 ">
        <h3>Top 10 Cuisines used across all recipes</h3>
        <img src="static/img/graphs/barchart-cuisine.svg">
      </div>
      <!-- Barchart displaying the Top 10 Categories -->
      <div class="col-xs-6 ">
        <h3>Top 10 Allergens</h3>
        <img src="static/img/graphs/barchart-allergens.svg">
      </div>
    </div>
  </div>
</section>

{% endblock %}
